<div class="col-4">
    <form id="searchForm" class="row">
        <div class="col-10 pr-1">
            <div class="form-group">
                <input type="text" class="form-control" id="key" name="key" placeholder="Search" required />
            </div>
        </div>
        <div class="col-2 pl-0">
            <div class="form-group">
                <button class="btn btn-primary" id="searchBtn"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
</div>