@model CasePaperRegisterModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CasePaper</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_CasePaperFormPartial" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>
        $("#Specialization").selectize({
            create: true,
            sortField: "text",
        });

        $("#PatientID").selectize({
            create: true,
            sortField: "text",
        });

        $("#ForSelf").change((evt) => {
            if (evt.target.checked) {
                $("#PatientCol").hide();
                $("#PatientName").attr("required", false);
            } else {
                $("#PatientCol").show();
                $("#PatientName").attr("required", true);
            }
        });

        $("#Specialization").change(async (evt) => {
            if (evt.target.value >= 0) {
                const selectField = document.querySelector("#DoctorID");

                Array.from(selectField.children).forEach(el => el.parentNode.removeChild(el));

                await fetch(`/CasePapers/GetDoctorBySpecialization/${evt.target.value}`)
                    .then(response => response.json())
                    .then(result => {
                        if (result.count > 0) {
                            result.data.forEach(el => {
                                const option = document.createElement("option");
                                option.text = el.name;
                                option.value = el.id;

                                selectField.append(option);
                            });
                        } else {
                            const option = document.createElement("option");
                            option.text = "No doctor available";
                            option.value = "0";
                            option.selected = true;
                            option.disabled = true;

                            selectField.append(option);
                        }
                    });
            }
        });
    </script>
}
@section Stylesheet{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" rel="stylesheet" />
}